<?xml version="1.0"?>
<model>
 <name>Big Ben2</name>
 <version>1.0</version>
 <sdf version="1.6">model.sdf</sdf>

 <author>
   <name>Mason</name>
   <email>mason@kaist.ac.kr</email>
 </author>

 <description>
    16.5 16.5 93.4 meters in scale 100%
    from https://sketchfab.com/3d-models/clock-tower-big-ben-9a1c691fac774bcca4e2ba565c4c9d9b
    https://skfb.ly/6CY66
 </description>
</model>
